.texto-explicacion{
    display: grid;
    margin: 50px;
    grid-template-columns: 50% 50%;
    grid-template-rows:auto;
    grid-template-areas: "main main"
                         "main main";
}

.sierras:hover{
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.logon:hover{
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.video{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 520px;
    height: 360px;
}

@media screen and (max-width: 600px) {
    .texto-explicacion{
        display: flex;
        flex-direction: column;
    }
    .video{
        width: auto;
        height: 250px;
    }
}